USE [master]
GO
/****** Object:  Database [Db_ASP_2.0]    Script Date: 10/13/2024 11:26:24 PM ******/
CREATE DATABASE [Db_ASP_2.0]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Db_ASP_2.0', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Db_ASP_2.0.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Db_ASP_2.0_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Db_ASP_2.0_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Db_ASP_2.0].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Db_ASP_2.0]
GO
/****** Object:  Table [dbo].[Tbl_Admins]    Script Date: 10/13/2024 11:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Admins](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[AdminUsername] [varchar](50) NULL,
	[AdminPassword] [varchar](50) NULL,
 CONSTRAINT [PK_Tbl_Admins] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Categories]    Script Date: 10/13/2024 11:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Categories](
	[CategoryId] [tinyint] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](50) NULL,
	[CategoryStatus] [bit] NULL,
 CONSTRAINT [PK_Tbl_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Customers]    Script Date: 10/13/2024 11:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Customers](
	[CurtomerId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [varchar](50) NULL,
	[CustomerSurname] [varchar](50) NULL,
	[CustomerStatus] [bit] NULL,
 CONSTRAINT [PK_Tbl_Customers] PRIMARY KEY CLUSTERED 
(
	[CurtomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Employees]    Script Date: 10/13/2024 11:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Employees](
	[EmployeeId] [tinyint] IDENTITY(1,1) NOT NULL,
	[EmployeeNameAndSurname] [varchar](50) NULL,
	[EmployeeStatus] [bit] NULL,
 CONSTRAINT [PK_Tbl_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Products]    Script Date: 10/13/2024 11:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](50) NULL,
	[ProductBrand] [varchar](50) NULL,
	[ProductCategory] [tinyint] NULL,
	[ProductPreis] [decimal](18, 2) NULL,
	[ProductStock] [smallint] NULL,
	[ProductStatus] [bit] NULL,
 CONSTRAINT [PK_Tbl_Products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Sales]    Script Date: 10/13/2024 11:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Sales](
	[SaleId] [int] IDENTITY(1,1) NOT NULL,
	[SaleProduct] [int] NULL,
	[SaleCustomer] [int] NULL,
	[SaleEmployee] [tinyint] NULL,
	[SalePreis] [decimal](18, 2) NULL,
	[SaleStatus] [bit] NULL,
 CONSTRAINT [PK_Tbl_Sales] PRIMARY KEY CLUSTERED 
(
	[SaleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tbl_Categories] ADD  CONSTRAINT [DF_Tbl_Categories_CategoryStatus]  DEFAULT ((1)) FOR [CategoryStatus]
GO
ALTER TABLE [dbo].[Tbl_Customers] ADD  CONSTRAINT [DF_Tbl_Customers_CustomerStatus]  DEFAULT ((1)) FOR [CustomerStatus]
GO
ALTER TABLE [dbo].[Tbl_Employees] ADD  CONSTRAINT [DF_Tbl_Employees_EmployeeStatus]  DEFAULT ((1)) FOR [EmployeeStatus]
GO
ALTER TABLE [dbo].[Tbl_Products] ADD  CONSTRAINT [DF_Tbl_Products_ProductStatus]  DEFAULT ((1)) FOR [ProductStatus]
GO
ALTER TABLE [dbo].[Tbl_Sales] ADD  CONSTRAINT [DF_Tbl_Sales_SaleStatus]  DEFAULT ((1)) FOR [SaleStatus]
GO
ALTER TABLE [dbo].[Tbl_Products]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Products_Tbl_Categories] FOREIGN KEY([ProductCategory])
REFERENCES [dbo].[Tbl_Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Tbl_Products] CHECK CONSTRAINT [FK_Tbl_Products_Tbl_Categories]
GO
ALTER TABLE [dbo].[Tbl_Sales]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Sales_Tbl_Customers] FOREIGN KEY([SaleCustomer])
REFERENCES [dbo].[Tbl_Customers] ([CurtomerId])
GO
ALTER TABLE [dbo].[Tbl_Sales] CHECK CONSTRAINT [FK_Tbl_Sales_Tbl_Customers]
GO
ALTER TABLE [dbo].[Tbl_Sales]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Sales_Tbl_Employees] FOREIGN KEY([SaleEmployee])
REFERENCES [dbo].[Tbl_Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[Tbl_Sales] CHECK CONSTRAINT [FK_Tbl_Sales_Tbl_Employees]
GO
ALTER TABLE [dbo].[Tbl_Sales]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Sales_Tbl_Products] FOREIGN KEY([SaleProduct])
REFERENCES [dbo].[Tbl_Products] ([ProductId])
GO
ALTER TABLE [dbo].[Tbl_Sales] CHECK CONSTRAINT [FK_Tbl_Sales_Tbl_Products]
GO
USE [master]
GO
